<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSearchForPhotosIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Search for Redken products in SiriSearch</string>
				<string>Get the list of Redken Products in SiriSearch</string>
				<string>List me some Redken products in SiriSearch</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
